/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffffff, #000000);
  color: #000;
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow-y: auto;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 10;
  position: relative;
  /* border-bottom: 2px solid black; */
}

.home-header{
  background: linear-gradient(135deg, #1a1a2e 0%, #0f3460 100%);
}
.login-header{
  background: linear-gradient(135deg, #ffffff, #000000);
}
.problem-set-header{
  background: linear-gradient(135deg, #ffffff, #000000);
}
.add-problem-header{
  background: linear-gradient(135deg, #ffffff, #000000);
}


.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.logo a {
  color: black;
}

.home-header .logo a{
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* Footer Styles */
.footer {
  padding: 20px;
  background-color: transparent;
  z-index: 1;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.social-icon:hover {
  color: #e94560;
}
